catalog/src/main/resources/SwKBTCanonicalExchangeFormat.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--Cannonical XML schema targetNamespace="http://SwKBTCanonicalExchangeFormat.xsd" 
		xmlns="http://SwKBTCanonicalExchangeFormat.xsd" elementFormDefault="qualified" 
		version: 1.0 (1.2.0706) - made schema more extensible (additonal attributes) 
		- made schema more extensible (addtional structures in "additional" element) 
		version: 1.0 (1.2.0905) - official version of the catalog 1.2.0905 version: 
		1.0 (04/14) - corrected support for Mainframe software - removed inheritance 
		from Software Item to Mainframe software. - made Part Numbers and Signatures 
		element optional. version: 0.9.9 - added support for Mainframe software, 
		there are some attributes that are candidates to be defined as enumeration 
		or boolean and decided whether they should be required or not. version: 0.9.8 
		- moved productRole to softwareItem version: 0.9.7 - removed PVU and SubCapatity 
		attributes from DistributedVersion version: 0.9.6 - removed softwarePricingTypeType 
		DistributedVersionType/@softwarePricingType ProductType/@softwarePricingType 
		version: 0.9.5 (1) Added schema constraints xs:boolean DistributedVersionType/@subCapacityLicensing 
		DistributedVersionType/@PVU DistributedProductType/@PVU ProductType/@subCapacityLicensing 
		KbDefinitionType/@active KbDefinitionType/@deleted spaceDelimStringListType 
		PartNumberType/@productIds SoftwareItemType/@productIds spaceDelimNumberListType 
		SignatureType/@platforms dateTimeType SoftwareItemType/@endOfSupport SoftwareItemType/@activationDate 
		VariationType/@activationDate SwkbType/@creationDate KbDefinitionType/@modified 
		KbDefinitionType/@created platformsEnum SignatureType/@cVersionPlatform PlatformType/@name 
		xs:int FileType/@size DefintionSourceType/@id publisherIdType XslmIdSignatureType/@publisherId 
		pvfIdType XslmIdSignatureType/@productId XslmIdSignatureType/@versionId XslmIdSignatureType/@featureId 
		signatureOperatorType RegistrySignatureType/@operator FileSignatureType/@operator 
		IPLAType DistributedVersionType/@IPLA ProductType/@IPLA softwarePricingTypeType 
		DistributedVersionType/@softwarePricingType ProductType/@softwarePricingType 
		(2) Removed HistoryEvent version: 0.9.4 - removed Mainframe products - removed 
		partNumbers from pid element - removed pid element from software - replaced 
		by productIds attribute version: 0.9.3 modified 08/04/2008 - added build 
		number optional attribute version: 0.9.2 modified 04.08.2008 - added filter 
		definitions to the main element. version: 0.9.1 modified 01.08.2008 - added 
		database Identity fields to the main element. - added packageVendor to FilterSignature 
		- added PARENT_PROGRAM relation version: 0.9 modified 30.07.2008 - removed 
		zId identified - removed Version Group attributes - removed support for Fingerprint 
		signatures version: 0.8.1 modified 18.07.2008 - added preferred attribute 
		on alias element version: 0.8 modified 17.07.2008 - added metadata dataVersion, 
		lastModification to main element and KbIdentityType. - added ComponentVersionPlatform 
		to Signature. version: 0.7.3 modified 05.05.2008 - TLCMzId are optional. 
		verison: 0.7.2 modified 24.04.2008 - changed filter version to optional to 
		get inline with GUI version: 0.7.1 modified 14.04.2008 - corrections to version 
		history :) - added CVERSION map, minor changes. version: 0.7 modified 28.02.2008 
		- added Digital Signature support version: 0.6.3 modified 19.02.2008 - added 
		Filter Signature version: 0.6.2 modified 07.02.2008 - PartNumbers as KbDefinitions 
		change. version: 0.6.1 modified 28.01.2008 - added PIDs and PartNumbers - 
		added MainframeProducts Versions and Releases. version: 0.6 modified 25.01.2008 
		- added creation date to KbDefinition - added endOfSupport date to KbDefinition 
		version: 0.5 modified 06.11.2007 - corrected names of elements and attributes 
		- refactored dataInput and other enumerations - corected otherSignature: 
		body of this signature is normal element. version: 0.4 modified: 15.10.2007 
		- Removed embedded KBEntities (PVRV hierarchy) - Removed signature elements, 
		now elements are in signature (Note that modules and moduleFingerprints are 
		merged in ModuleFingerprintsSignature) - All relations between KbEntities 
		are through GUIDs version: 0.3 modified: 28.09.2007 to do: - keys definitions 
		- constraints on attributes - foreign keys constraints - simple types / enumerations -->
	<!-- MAIN ITEM -->
	<xs:element name="SoftwareKnowledgeBase">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SwkbType" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SwkbType">
		<xs:sequence>
			<xs:element name="Platforms">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Platform" type="PlatformType"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionSources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Source" type="DefintionSourceType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KbIdentity" type="KbIdentityType"
				maxOccurs="unbounded" />
			<xs:element name="IdentityLinks" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Link" type="IdentityLinkType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="additional" type="additionalStructureType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="creationDate" type="dateTimeType"
			use="required" />
		<xs:attribute name="guid" type="GUIDType" use="optional" />
		<xs:attribute name="sourceType" type="xs:string" use="optional" />
		<xs:attribute name="schemaVersion" type="schemaVersionType"
			use="optional" />
		<xs:attribute name="contact" type="xs:string" use="optional" />
		<xs:attribute name="description" type="xs:string" use="optional" />
		<xs:attribute name="copyright" type="xs:string" use="optional" />
		<xs:attribute name="dataVersion" type="xs:long" use="optional" />
		<xs:attribute name="lastModification" type="dateTimeType"
			use="optional" />
		<xs:attribute name="databaseInstanceId" type="GUIDType"
			use="optional" />
		<xs:attribute name="databaseInstanceName" type="xs:string"
			use="optional" />
		<xs:attribute name="filterUsed" type="xs:string" use="optional" />
		<xs:attribute name="filterStartDate" type="dateTimeType"
			use="optional" />
		<xs:attribute name="filterEndDate" type="dateTimeType"
			use="optional" />
		<xs:attribute name="swkbtBuildNumber" type="xs:string"
			use="optional" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- COMPLEX TYPES -->
	<!-- KbIdentity Type -->
	<xs:complexType name="KbIdentityType">
		<xs:sequence>
			<xs:element name="Manufacturers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Manufacturer" type="ManufacturerType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- PartNumbers -->
			<xs:element name="PartNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartNumber" type="PartNumberType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Products -->
			<xs:element name="SoftwareItems" minOccurs="0">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:sequence>
							<xs:element name="DistributedProduct" type="DistributedProductType"
								minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="DistributedVersion" type="DistributedVersionType"
								minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="DistributedRelease" type="DistributedReleaseType"
								minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="Variation" type="VariationType"
								minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
						<xs:sequence>
							<xs:element name="MainframeProduct" type="MainframeProductType"
								minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="MainframeVersion" type="MainframeVersionType"
								minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="MainframeFeature" type="MainframeFeatureType"
								minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<!-- Relationships -->
			<xs:element name="Relationships" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Relationship" type="RelationshipType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Signatures -->
			<xs:element name="Signatures" minOccurs="0">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="FileSignature" type="FileSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="RegistrySignature" type="RegistrySignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="InstallRegistrySignature" type="InstallRegistrySignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="ApplicationServerSignature" type="ApplicationServerSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="J2eeApplicationSignature" type="J2EeApplicationSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="FilterSignature" type="FilterSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="XslmIdSignature" type="XslmIdSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="OtherSignature" type="OtherSignatureType"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="additional" type="additionalStructureType"
				minOccurs="0" maxOccurs="1" />
			<!-- End of Signatures -->
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="guid" type="GUIDType" use="optional" />
		<xs:attribute name="owner" type="xs:string" use="optional" />
		<xs:attribute name="copyright" type="xs:string" use="optional" />
		<xs:attribute name="contact" type="xs:string" use="optional" />
		<xs:attribute name="description" type="xs:string" use="optional" />
		<xs:attribute name="version" type="xs:string" use="optional" />
		<xs:attribute name="dataVersion" type="xs:long" use="optional" />
		<xs:attribute name="lastModification" type="dateTimeType"
			use="optional" />
		<xs:anyAttribute processContents="lax" />
		<!-- KbIdentity attributes -->
	</xs:complexType>
	<!-- End of KbIdentityType -->
	<!-- Relationship -->
	<xs:complexType name="RelationshipType">
		<xs:annotation>
			<xs:documentation>
				Relationships between SoftwareItems
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:attribute name="type" type="relationshipTypeEnum" />
				<xs:attribute name="source" type="GUIDType" />
				<xs:attribute name="sink" type="GUIDType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- End of relationship -->
	<!-- Manufacturer Type -->
	<xs:complexType name="ManufacturerType">
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="alias" type="AliasType" minOccurs="0"
						maxOccurs="unbounded" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="website" type="xs:string" use="optional" />
				<xs:attribute name="dId" type="xs:string" use="optional" />
				<xs:anyAttribute processContents="skip" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Product Type -->
	<xs:complexType name="DistributedProductType">
		<xs:complexContent>
			<xs:extension base="SoftwareItemType">
				<xs:sequence>
					<xs:element name="alias" type="AliasType" minOccurs="0"
						maxOccurs="unbounded" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="manufacturer" type="GUIDType" use="required" />
				<xs:attribute name="subCapacityLicensing" type="xs:boolean"
					use="optional" />
				<xs:attribute name="function" type="productFunctionEnum"
					use="optional" />
				<xs:attribute name="IPLA" type="IPLAType" use="optional" />
				<xs:attribute name="PVU" type="xs:boolean" use="optional" />
				<xs:attribute name="licenseType" type="licenseType"
					use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MainframeProductType">
		<xs:sequence>
			<xs:element name="alias" type="AliasType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="additional" type="additionalStructureType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="productRole" type="productRoleEnumeration"
			use="optional" />
		<xs:attribute name="guid" type="GUIDType" use="required" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="manufacturer" type="GUIDType" use="required" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Version Type -->
	<xs:complexType name="DistributedVersionType">
		<xs:complexContent>
			<xs:extension base="SoftwareItemType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="manufacturer" type="GUIDType" use="required" />
				<xs:attribute name="identifier" type="xs:string" use="optional" />
				<xs:attribute name="version" type="xs:int" use="required" />
				<xs:attribute name="product" type="GUIDType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MainframeVersionType">
		<xs:attribute name="guid" type="GUIDType" use="required" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="productId" type="xs:string" use="optional" />
		<xs:attribute name="manufacturer" type="GUIDType" use="optional" />
		<xs:attribute name="identifier" type="xs:string" use="optional" />
		<xs:attribute name="version" type="xs:int" use="required" />
		<xs:attribute name="product" type="GUIDType" use="required" />
		<xs:attribute name="ibmCustomerAgreement" type="xs:boolean"
			use="optional" default="false" />
		<xs:attribute name="IPLA" type="xs:string" use="optional" />
		<xs:attribute name="VUE" type="xs:string" use="optional" />
		<xs:attribute name="SS" type="xs:string" use="optional" />
		<xs:attribute name="softwarePricingType" type="xs:string"
			use="optional" />
		<xs:attribute name="subCapacityLicensing" type="xs:string"
			use="optional" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<xs:complexType name="MainframeFeatureType">
		<xs:attribute name="guid" type="GUIDType" use="required" />
		<xs:attribute name="version" type="GUIDType" use="required" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="EID" type="xs:string" use="optional" />
		<xs:attribute name="SSEnId" type="xs:string" use="optional" />
		<xs:attribute name="ibmCustomerAgreement" type="xs:boolean"
			use="optional" default="false" />
		<xs:attribute name="IPLA" type="xs:string" use="optional" />
		<xs:attribute name="VUE" type="xs:string" use="optional" />
		<xs:attribute name="softwarePricingType" type="xs:string"
			use="optional" />
		<xs:attribute name="subCapacityLicensing" type="xs:string"
			use="optional" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Release Type -->
	<xs:complexType name="DistributedReleaseType">
		<xs:complexContent>
			<xs:extension base="SoftwareItemType">
				<xs:sequence>
					<xs:element name="cVersionId" type="cVersionIdType"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="manufacturer" type="GUIDType" use="required" />
				<xs:attribute name="release" type="releaseNumberType"
					use="required" />
				<xs:attribute name="identifier" type="xs:string" use="optional" />
				<xs:attribute name="version" type="GUIDType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cVersionIdType">
		<xs:attribute name="platformName" />
		<xs:attribute name="cVersionId" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Variation Type -->
	<xs:complexType name="VariationType">
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="variation" type="xs:string" use="required" />
				<xs:attribute name="activationDate" type="dateTimeType"
					use="optional" />
				<xs:attribute name="release" type="GUIDType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Types of signatures -->
	<xs:complexType name="FileSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="file" type="FileType" maxOccurs="unbounded" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="operator" type="signatureOperatorType" />
				<xs:attribute name="scope" type="fileSignatureScopeEnum"
					use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegistrySignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="registry" type="RegistryType"
						maxOccurs="unbounded" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="operator" type="signatureOperatorType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InstallRegistrySignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="key" type="xs:string" use="required" />
				<xs:attribute name="data" type="xs:string" use="required" />
				<xs:attribute name="source" type="registrySourceEnum"
					use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XslmIdSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="publisherId" type="publisherIdType"
					use="required" />
				<xs:attribute name="productId" type="pvfIdType" use="required" />
				<xs:attribute name="versionId" type="pvfIdType" use="required" />
				<xs:attribute name="featureId" type="pvfIdType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicationServerSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="J2EeApplicationSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FilterSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="packageName" type="xs:string" use="required" />
				<xs:attribute name="packageVersion" type="xs:string"
					use="optional" />
				<xs:attribute name="packageVendor" type="xs:string"
					use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherSignatureType">
		<xs:complexContent>
			<xs:extension base="SignatureType">
				<xs:all>
					<xs:element name="body" type="xs:string" />
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:all>
				<xs:attribute name="type" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Signature base type -->
	<xs:complexType name="SignatureType">
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:attribute name="confidenceLevel" type="xs:int" />
				<xs:attribute name="platform" type="xs:int" use="required" />
				<xs:attribute name="cVersionPlatform" type="platformsEnum"
					use="optional" />
				<xs:attribute name="discoveredItem" type="GUIDType"
					use="optional" />
				<xs:anyAttribute processContents="lax" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Software Item Type -->
	<xs:complexType name="SoftwareItemType">
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:attribute name="name" type="xs:string" use="optional" />
				<xs:attribute name="endOfSupport" type="dateTimeType"
					use="optional" />
				<xs:attribute name="productId" type="xs:string" use="optional" />
				<xs:attribute name="website" type="xs:string" use="optional" />
				<xs:attribute name="activationDate" type="dateTimeType"
					use="optional" />
				<xs:attribute name="productIds" type="spaceDelimStringListType"
					use="optional" />
				<xs:attribute name="productRole" type="productRoleEnumeration"
					use="optional" />
				<xs:anyAttribute processContents="lax" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PartNumber -->
	<xs:complexType name="PartNumberType">
		<xs:complexContent>
			<xs:extension base="KbDefinitionType">
				<xs:sequence>
					<xs:element name="additional" type="additionalStructureType"
						minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="partNumber" type="xs:string" use="required" />
				<xs:attribute name="name" type="xs:string" use="required" />
				<xs:attribute name="isSubCap" type="xs:boolean" use="required" />
				<xs:attribute name="isPVU" type="xs:boolean" use="required" />
				<xs:attribute name="productIds" type="spaceDelimStringListType"
					use="optional" />
				<xs:attribute name="readOnly" type="xs:boolean" use="optional" />
				<xs:anyAttribute processContents="lax" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KbDefinition base Type -->
	<xs:complexType name="KbDefinitionType">
		<xs:attribute name="externalId" type="xs:string" />
		<xs:attribute name="guid" type="GUIDType" use="required" />
		<xs:attribute name="active" type="xs:boolean" />
		<xs:attribute name="dataInput" type="dataInputType" />
		<xs:attribute name="deleted" type="xs:boolean" />
		<xs:attribute name="modified" type="dateTimeType" />
		<xs:attribute name="created" type="dateTimeType" />
		<xs:attribute name="customField1" type="xs:string" />
		<xs:attribute name="customField2" type="xs:string" />
		<xs:attribute name="customField3" type="xs:string" />
		<xs:attribute name="description" type="xs:string" />
		<xs:attribute name="definitionSource" type="xs:string" />
		<xs:anyAttribute processContents="lax" />
		<!-- external GUID + id ? -->
	</xs:complexType>
	<!-- Identity link type: it is used to map identities that are mean the 
		same in both KbIdentities and have different GUIDs -->
	<xs:complexType name="IdentityLinkType">
		<xs:sequence>
			<xs:element name="additional" type="additionalStructureType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="primary" type="GUIDType" use="required" />
		<xs:attribute name="descendant" type="GUIDType" use="required" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Definition Source -->
	<xs:complexType name="DefintionSourceType">
		<xs:sequence>
			<xs:element name="additional" type="additionalStructureType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="description" type="xs:string" />
		<xs:attribute name="contact" type="xs:string" />
		<xs:attribute name="organization" type="xs:string" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Alias Type -->
	<xs:complexType name="AliasType">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="preferred" type="xs:boolean" use="optional"
			default="false" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- File Type -->
	<xs:complexType name="FileType">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="size" type="xs:int" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Registry Type -->
	<xs:complexType name="RegistryType">
		<xs:attribute name="key" type="xs:string" use="required" />
		<xs:attribute name="value" type="xs:string" use="optional" />
		<xs:attribute name="type" type="RegistryDataTypeEnum"
			use="required" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- Platform Type -->
	<xs:complexType name="PlatformType">
		<xs:attribute name="id" type="xs:int" use="required" />
		<xs:attribute name="name" type="platformsEnum" use="required" />
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>
	<!-- SIMPLE TYPES -->
	<xs:simpleType name="schemaVersionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,9})(\.[0-9]{1,9}){1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="releaseNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,9})(\.[0-9]{1,9}){1,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{32}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateTimeType">
		<xs:restriction base="xs:dateTime">
			<xs:pattern
				value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}.\p{Nd}{3,9}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productRoleEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOFTWARE_PRODUCT" />
			<xs:enumeration value="COMPONENT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productFunctionEnum">
		<xs:restriction base="xs:string">
			<xs:pattern value="4323[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fileSignatureScopeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RECOGNITION" />
			<xs:enumeration value="MONITORING" />
			<xs:enumeration value="BOTH" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="registrySourceEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OS" />
			<xs:enumeration value="ISMP" />
			<xs:enumeration value="Any" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegistryDataTypeEnum">
		<xs:annotation>
			<xs:documentation>Registry data type code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="binary" />
			<xs:enumeration value="dword" />
			<xs:enumeration value="expand_string" />
			<xs:enumeration value="multi_string" />
			<xs:enumeration value="string" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relationshipTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHARGED" />
			<xs:enumeration value="FREE" />
			<xs:enumeration value="MANAGED" />
			<xs:enumeration value="PARENT_PROGRAM" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="licenseType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataInputType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spaceDelimStringListType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\S)+(\s)?)+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spaceDelimNumberListType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\d)+(\s)?)+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="platformsEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AIX" />
			<xs:enumeration value="LINUX" />
			<xs:enumeration value="SUN" />
			<xs:enumeration value="HPUX" />
			<xs:enumeration value="UNIX" />
			<xs:enumeration value="WINDOWS" />
			<xs:enumeration value="I5OS" />
			<xs:enumeration value="ANY" />
			<xs:enumeration value="z/OS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="publisherIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{32}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pvfIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="signatureOperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AND" />
			<xs:enumeration value="OR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IPLAType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IPLA" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="additionalStructureType">
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="1" maxOccurs="unbounded"
				processContents="lax" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
